.nav-search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .nav-search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    width: 300px;
  }
  
  .nav-search-button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
    outline: none;
  }
  
  .nav-search-button:hover {
    background-color: #0056b3;
  }
  