.notes-container {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 800px;
  border-radius: 10px;
  position: relative;
  margin-left: 0%;
  padding: 3%;
}

/* Style du conteneur de l'éditeur */
.ql-container {
  max-width: 100%;
  height: 620px;
  padding: 1%;
  font-size: 0.9em;
  margin-bottom: 80px; /* Augmentez la marge pour laisser de l'espace pour la barre d'outils */
  background-color: white;
  position: relative;
  padding-bottom: 60px; /* Augmentez le padding pour éviter que le texte ne soit caché par la barre d'outils */
}

/* Retirer la bordure autour de la zone de texte */
.ql-container.ql-snow {
  border: none !important;
}

/* Style de la barre d'outils */
.ql-toolbar {
  border-radius: 10px;
  width: 55%; /* Réduisez la largeur à 80% pour la rétrécir */
  height: 40px; /* Ajoutez une hauteur fixe pour la rétrécir */
  margin: 10px auto; /* Changez la marge pour centrer la barre d'outils et ajouter de l'espace en dessous */
  position: absolute;
  bottom: 50px; /* Placez la barre d'outils un peu en dehors du conteneur pour un effet "flottant" */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre portée pour un effet "flottant" */
}

/* Style des boutons de la barre d'outils */
.ql-toolbar button {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: #495057; /* Couleur des icônes des boutons */
}

/* Style des boutons de la barre d'outils lorsqu'ils sont survolés */
.ql-toolbar button:hover {
  background-color: #f5f5f5;
  color: #212529; /* Couleur des icônes des boutons lorsqu'ils sont survolés */
}


/* Style des boutons de la barre d'outils lorsqu'ils sont survolés */
.ql-toolbar button:hover {
  background-color: #f5f5f5;
}




