.notes-container {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 650px;
  border-radius: 10px;
  position: relative;
  margin-left: 0%;
}

/* Style du conteneur de l'éditeur */
.ql-container {
  max-width: 100%;
  height: 620px;
  padding: 1%;
  font-size: 0.9em;
  margin-bottom: 60px;
  background-color: white;
}

/* Retirer la bordure autour de la zone de texte */
.ql-container.ql-snow {
  border: none !important;
}

/* Style de la barre d'outils */
.ql-toolbar {
  border-radius: 10px;
  width: 100%; /* Largeur ajustée */
  margin: 10px 0; /* Marge pour ajouter de l'espace en haut */
  position: static;
  padding: 5px 0; /* Espace autour des boutons */
  display: flex;
  justify-content: center; /* Centrer les boutons à l'intérieur de la barre d'outils */
  background-color: #f8f9fa; /* Couleur d'arrière-plan de la barre d'outils */
}

/* Style des boutons de la barre d'outils */
.ql-toolbar button {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: #495057; /* Couleur des icônes des boutons */
}

/* Style des boutons de la barre d'outils lorsqu'ils sont survolés */
.ql-toolbar button:hover {
  background-color: #f5f5f5;
  color: #212529; /* Couleur des icônes des boutons lorsqu'ils sont survolés */
}


/* Style des boutons de la barre d'outils lorsqu'ils sont survolés */
.ql-toolbar button:hover {
  background-color: #f5f5f5;
}
