.container_all {
  display: flex;
  background-color: #F3F7FB;
  height: 796px
}

.container_notes {
  width: 65%;
}

.container_todo {
  width: 35%;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.done-card {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
}

.done-card .delete-icon {
  color: white;
}

.done-card:hover .delete-icon {
  color: #c23616;
  cursor: pointer;
}

.done-card .icon {
  display: none;
}

.button-todo {
  background-color: white;
  padding: 4%;
  height: 800px;
  border-left : 0.5px solid grey
}


/* Centrer le bouton */
.button {
  display: flex;
  justify-content: center;
}

/* Style pour le conteneur du titre et du bouton */
.todo-header {
  display: flex; /* Organise les éléments en ligne */
  align-items: center; /* Aligne verticalement les éléments au centre */
  justify-content: space-between; /* Distribue l'espace entre les éléments */
}

/* Style pour le titre "Tâche en cours" */
.todo-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-right: 20px; /* Ajoute de l'espace à droite du titre */
}

.line {
  width: 100%; /* Réduit la largeur du conteneur à 80% de sa largeur maximale */
  margin: auto; /* Centrer le conteneur */
  border-bottom: 1px solid black; /* Ajoute une bordure inférieure */
  margin-top: 20px; /* Ajoute de l'espace en haut de la ligne */
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la ligne */
}